.sidebar{
    width: 20%;
    background-color: slategrey;
    height: 650px;
    position:sticky;
   
}
.sh{
    color: black;
}

.search{
    width: 500px;
}
.add{
    width: 100px;
}
.inp{
  padding-left: 15%!important;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.tab{
    padding-left: 50px;
    padding-top: 50px;
    border-collapse:separate;
    border-spacing:0 15px;
}
/* table,td{border-collapse:collapse;
    border-spacing: 30px;
    
}
thead {
    background-color:green;
    Color:white;
    text-align: center;
}
.tc{
    background-color: bisque;
    padding-bottom: 100px;
}
.t1{
    width: 400px;
    padding-right: 30px;
    
}
.t2{
    padding-right: 30px;
   
}
.t3{
    padding-top: 20px;
    padding-bottom: 30px;
}
.tre{
    text-align: center;
  } */
  table {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  th {
    background-color: #4287f5;
    color: white;
  }
  
  td {
    width: 150px;
    text-align: center;
    background-color: aliceblue;
    padding: 5px;
  }
  li{
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .logo{
    position: relative;
    left: 3%;
    background-image:url('./images/logo1.png') ;
  }
  .search{
    margin-left: 60px!important;
    width: 300px;

  }
  .how{
    margin-left: 40px;
    font-size: 18px;
    font-weight: 500;
  }
  .sg{
    width: 100px;
    margin-left: 30px;
  }
  .fg{
    width:300px;
  }
  .cg{
    width: 300px;
    
  }
  .up{
    margin-top: 50px;
  }
  label{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
  }
  .updated{
    width: 65%;
    padding-top: 20px;
    padding-left: 300px;
  }